<h1>Home</h1>
<% if (isAuthenticated) { %>
<h1>Authenticated</h1>
<a href="/logout">Logout</a>
<% } else { %>
<a href="/login">Login</a>
<a href="/parentRegister">Parent Register</a>
<a href="/nurseryRegister">Nursery Register</a>
<a href="/adminRegister">Admin Register</a>
<% } %>
