#cancel {
  background-color: #848484;
  border: 2px solid #848484;
}

.sidebar {
  margin-top: 3%;
  width: 100%;
}

.reviewButton {
  background-color: rgb(6,84,113);
  border-color: rgb(6,84,113);
}

.nurseries {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
}

.sidebarDiv {
  margin-top: 1%;
  width: 60%;
}

.container.py-5 {
}

